
/* Zera as referncias de margin e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #5b88b4;
  color: white;
  padding: 1rem;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 5rem;
  flex: 1;
}

footer {
  background-color: #5b88b4;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.centered {
  text-align: center;
  padding: 20px;
}

.centered-list {
  display: flex;
  justify-content: center;
}

.centered-list ul {
  text-align: left;
}
